<!DOCTYPE html>
<html>

<head>
    <title>THUS | midi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/midi.css">
</head>

<body scroll="no">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/midi.js"></script>
    <script src="/javascripts/p5.min.js"></script>
</body>

</html>