<!DOCTYPE html>
<html>

<head>
    <title>THUS</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body id="cuerpo">
    <div id="wrapper">
        <h1>THUS Demo</h1>
        <h2><label for="aX">R: </label><span id="aX"></span></h2>
        <h2><label for="aY">G: </label><span id="aY"></span></h2>
        <h2><label for="aZ">B: </label><span id="aZ"></span></h2>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/mobile.js"></script>
</body>

</html>